@font-face {
    src: url("fonts/JetBrainsMono-Regular.ttf");
    font-family: Regular;
} 

body {
    margin: 0;
    background-color: rgb(31, 29, 29);
}

main {
    text-shadow: black 3px 3px;
    padding: 200px;
    color: rgb(221, 215, 215);
    font-family: Regular;
    text-align: center;
    font-size: xx-large;
    align-items: center;
}

a {
    text-shadow: rgb(31, 28, 28) 3px px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 0, 0);
}

a:hover {
    border-bottom: rgb(121, 46, 46) double;
}

ul li {
    display: inline;
    margin-left: 10px;
}

ul {
    margin: 0;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-family: Regular;
}

#contact {
    text-shadow: black 3px 3px;
    font-size: 20px;
    font-family: Regular;
    color: rgb(255, 0, 0);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

p[data-font] {
    font-size: 15px;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.image-box {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}

.image-box:hover {
    transform: scale(0.90);
    transition: all 2s;
    background-color: rgb(255, 0, 0);
}

.image-box:active {
    transform: scale(1.5);
    transition: all 0.5s;
    background-color: rgb(255, 0, 0);
}

#portfolio {
    text-shadow: black 3px 3px;
    padding: 100px;
    color: rgb(221, 215, 215);
    font-family: Regular;
    font-size: 15px;

}
p.big-font {
    font-size: 20px;
}
