@font-face {
    src: url('fonts/JetBrainsMono-Regular.ttf');
    font-family: Regular;
    } 
.center {
    text-align: center;
    color: rgb(201, 195, 195);
    font-family: Regular;
}
.bigger-font {
    font-size: 90px;
}